@model HastaneYonetim.Core.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Yonet";
}

<h2>Yönet.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Hesap Ayarlarını Değiştir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Parola:</dt>
        <dd>
            [
            @if (Model.SifresiVarMi)
            {
                @Html.ActionLink("Sifreni değiştir", "SifreDegistir")
            }
            else
            {
                @Html.ActionLink("Olustur", "SifreYerlestir")
            }
            ]
        </dd>
        <dt>Harici Girişler:</dt>
        <dd>
            @Model.Girisler.Count [
            @Html.ActionLink("Yonet", "GirisleriYonet") ]
        </dd>
        
      
        <dt>İki faktörlü kimlik doğrulama:</dt>
        <dd>
            <p>
                Yapılandırılmış iki faktörlü kimlik doğrulama sağlayıcıları mevcut değil eğer projeyi iki faktörlü kimlik doğrulamaya uygun hale getirmek isterseniz<a href="http://go.microsoft.com/fwlink/?LinkId=403804">Bu makaleye</a>
                Göz aatmanız tavsiye edilir.
            </p>
         
        </dd>
    </dl>
</div>
